*{
    padding: 0;
    margin: 0;
}


h1{
    font-family: 'East Sea Dokdo', cursive;
}
/* 
font-family: 'Bebas Neue', cursive;
font-family: 'East Sea Dokdo', cursive;
font-family: 'Poppins', sans-serif; */